.datePickerWrapper {
	margin-top: 10px;
}

.bottomSpacing {
	margin-bottom: 30px;
}

.job-card-skeleton {
	width: 65%;
	margin: 0 auto;
}

.loading-message {
	display: flex;
	justify-content: center;
}
