name: Deploy application

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'LICENCE'
      - 'CODEOWNERS'
      - '.gitignore'
      - '.editorconfig'
      - 'setupLocalEnvironment.sh'
      - '.scripts'
      - 'dokumentasjon/**'
      - '.github/workflows/build-pr.yaml'
      - '.github/workflows/chainguard-digestabot.yaml'
      - '.github/workflows/codeql-trivy-scan.yaml'
      - '.github/workflows/manual-deploy.yaml'
      - '.github/dependabot.yaml'

env:
  TZ: Europe/Oslo

jobs:
  build-and-test:
    permissions:
      contents: write
    name: Build and test application
    uses: navikt/mob-gha-workflows/.github/workflows/gradle-build-test.yaml@gradle_optimized
    with:
      upload-artifact: true
      generate-dependency-graph: true

  build-image-dev:
    permissions:
      contents: read
      id-token: write
    needs: [build-and-test]
    name: Build dev image
    uses: navikt/mob-gha-workflows/.github/workflows/gradle-build-push-image.yaml@gradle_optimized
    secrets: inherit
    with:
      image-suffix: "dev"
      dockerfile: "./.nais/dev/Dockerfile"
      use-artifact: true

  build-image-prod:
    permissions:
      contents: read
      id-token: write
    needs: [build-and-test]
    name: Build prod image
    uses: navikt/mob-gha-workflows/.github/workflows/gradle-build-push-image.yaml@gradle_optimized
    secrets: inherit
    with:
      dockerfile: "./.nais/prod/Dockerfile"
      use-artifact: true

  deploy-dev-q1:
    permissions:
      contents: read
      id-token: write
      pull-requests: write
      deployments: write
    needs: [build-image-dev]
    name: Deploy to dev-fss-q1
    uses: navikt/mob-gha-workflows/.github/workflows/nais-deploy.yaml@main
    with:
      cluster: dev-fss
      resource: .nais/dev/naiserator-q1.yaml
      image: ${{ needs.build-image-dev.outputs.image }}

  deploy-dev-qx:
    permissions:
      contents: read
      id-token: write
      pull-requests: write
      deployments: write
    needs: [build-image-dev]
    name: Deploy to dev-fss-qx
    uses: navikt/mob-gha-workflows/.github/workflows/nais-deploy.yaml@main
    with:
      cluster: dev-fss
      resource: .nais/dev/naiserator-qx.yaml
      image: ${{ needs.build-image-dev.outputs.image }}

  deploy-prod:
    permissions:
      contents: read
      id-token: write
      pull-requests: write
      deployments: write
    needs: [build-image-prod, deploy-dev-q1, deploy-dev-qx]
    name: Deploy to prod-fss
    uses: navikt/mob-gha-workflows/.github/workflows/nais-deploy.yaml@main
    with:
      cluster: prod-fss
      resource: .nais/prod/naiserator-prod.yaml
      image: ${{ needs.build-image-prod.outputs.image }}
