name: Deploy application manually

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to deploy to"
        required: true
        type: choice
        options:
          - q1
          - qx

env:
  TZ: Europe/Oslo

jobs:
  build-and-test:
    permissions:
      contents: read
    name: Build and test application
    uses: navikt/mob-gha-workflows/.github/workflows/gradle-build-test.yaml@gradle_optimized

  build-image-dev:
    permissions:
      contents: read
      id-token: write
    needs: [build-and-test]
    name: Build dev image
    uses: navikt/mob-gha-workflows/.github/workflows/gradle-build-push-image.yaml@gradle_optimized
    secrets: inherit
    with:
      image-suffix: "dev"
      image-tag: 'snapshot'
      dockerfile: "./.nais/dev/Dockerfile"
      use-artifact: true

  deploy-dev:
    permissions:
      contents: read
      id-token: write
      pull-requests: write
      deployments: write
    needs: [ build-image-dev ]
    name: Deploy to dev-fss-${{ inputs.environment }}
    uses: navikt/mob-gha-workflows/.github/workflows/nais-deploy.yaml@main
    with:
      cluster: dev-fss
      resource: .nais/dev/naiserator-${{ inputs.environment }}.yaml
      image: ${{ needs.build-image-dev.outputs.image }}